{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block table %}
  <table id="id_list_table" class="table">
  </table>

  {% if list.owner %}
    <p>List owner: <span id="id_list_owner">{{ list.owner.email }}</span><p>
  {% endif %}
{% endblock %}

{% block extra_content %}
  <div class=row>
    <div class="col-md-6">
      <form method="POST" action="{% url 'share_list' list.id %}">
        <input class="form-control" type="text" name="sharee" placeholder="your-friend@example.com">
        {% csrf_token %}
      </form>
      <ul>
        <li class="list-sharee">List owner: <strong>{{ list.owner.email }}</strong></li>
        {% for sharee in list.shared_with.all %}
          <li class="list-sharee">{{ sharee.email }}</li>
        {% endfor %}
      </uL>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
$(document).ready(function () {
  window.Superlists.initialize({
    listApiUrl: "{% url 'list-detail' list.id %}",
    itemsApiUrl: "{% url 'item-list' %}",
    listId: {{ list.id }},
  });
});
  </script>
{% endblock scripts %}
